<!-- Launch file to move on a preprogrammed trajectory -->

<launch>

	<!--<include 
		file="$(find irob_robot_interface)/launch/dvrk_interface.launch" />-->  
	<include file="$(find irob_motion)/launch/gesture_server.launch" />  
	<include file="$(find irob_motion)/launch/maneuver_server.launch" />  
	
	<!-- <include file="$(find irob_autosurg)/launch/test_maneuver.launch" /> -->
	
</launch>
