<!-- Launch file to start the position upstream of a full DVRK  -->
<launch>

  <group ns="dvrk">
   <group ns="twin">

    <!-- IP of the server -->
    <arg name="host" default="localhost"/>

    <arg name="port" default="9090"/>

    <!-- Wait for this number of messages on the topic
    /dvrk/spin/period_statistic before every publish -->
    <arg name="drop_rate" default="1"/>

    <!-- Rate of the ROS loop -->
    <arg name="ros_rate" default="100"/>

    <!-- Topic of the published message -->
    <arg name="upstream_topic" default="/joint_states"/>


  	
      <node name="rosbridge_upstream" pkg="irob_connect"
      type="dvrk_rosbridge_upstream.py" output="screen">
  		
          <param name="host" type="string" value="$(arg host)" />
          <param name="port" type="int" value="$(arg port)" />
          <param name="drop_rate" type="double" value="$(arg drop_rate)" />
          <param name="ros_rate" type="double" value="$(arg ros_rate)" />
          <param name="upstream_topic" type="string" value="$(arg upstream_topic)" />

          <!--
               Set wich arms to be used here, those will be
               the tags of the arms in the topic names we subscribe to,
               and also the prefix of the published joint names.
               e. g.: ["SUJ_PSM2", "SUJ_ECM", "SUJ_PSM1", "SUJ_PSM3",
                       "ECM", "PSM1", "PSM2", "PSM3"]
          -->
          <rosparam param="arm_names">["SUJ_PSM2", "SUJ_ECM", "SUJ_PSM1", "SUJ_PSM3", "ECM", "PSM1", "PSM2", "PSM3"]</rosparam>

				
			</node>
    </group>
   </group>


</launch>
