<!-- Launch file-->

<launch>

		<arg name="left_angle" default="-90"/> 
		<arg name="left_in" default="left/raspicam/image/image_raw"/> 
		<arg name="right_in" default="right/raspicam/image/image_raw"/> 
		
		<arg name="right_angle" default="90"/> 
		<arg name="left_out" default="left/final/image"/> 
		<arg name="right_out" default="right/final/image"/> 
	
	
		<node name="image_rotate_left" pkg="irob_autosurg" 
			type="image_rotator" output="screen">
			
			<param name="angle" type="int" value="$(arg left_angle)" />
			
			<remap from="image" to="$(arg left_in)"/>
  			<remap from="rotated/image" to="$(arg left_out)"/>
  		
		</node>
		
		<node name="image_rotate_right" pkg="irob_autosurg" 
			type="image_rotator" output="screen">
			
			<param name="angle" type="int" value="$(arg right_angle)" />
			
			<remap from="image" to="$(arg right_in)"/>
  			<remap from="rotated/image" to="$(arg right_out)"/>
  		
		</node>

  		
</launch>
