<!-- Launch file-->

<launch>

		<arg name="left_in" default="left/final/image"/> 
		<arg name="right_in" default="right/final/image"/> 

		<arg name="left_out" default="left/synced/image"/> 
		<arg name="right_out" default="right/synced/image"/> 
	
	
		<node name="stereo_sync" pkg="irob_autosurg" 
			type="stereo_sync" output="screen">
			
			
			<remap from="left/image" to="$(arg left_in)"/>
  			<remap from="left/synced/image" to="$(arg left_out)"/>
  			
  			<remap from="right/image" to="$(arg right_in)"/>
  			<remap from="right/synced/image" to="$(arg right_out)"/>
  		
		</node>
		

  		
</launch>
