<!-- Launch the irob dVRK high-level robot controller. After start, it will wait for irob_msgs/Robot actions -->

<launch>

	
	
  		<arg name="arm_typ" default="PSM2"/>
		<arg name="arm_name" default="arm_1"/>
		<arg name="camera_registration_file" 
		default="registration_psm2.yaml"/>
        <arg name="filename"
        default="/home/dvrk_nat/trajectory_1.dat"/>
		
		<arg name="instrument_info_file" 
		default="prograsp_forceps.yaml"/>
	
			<include 
			file="$(find irob_robot)/config/dvrk_topic_names.xml" /> 
        <group ns="saf">
			<node name="robot_server_$(arg arm_typ)" pkg="irob_robot" 
            type="robot_server_dvrk" output="screen" >
  		
  				<param name="arm_typ" type="string" value="$(arg arm_typ)" />
				<param name="arm_name" type="string" value="$(arg arm_name)" />
                <param name="filename" type="string" value="$(arg filename)" />
				<!-- <param name="camera_registration_file" type="string" 	
									value="$(arg camera_registration_file)" /> -->
				<rosparam command="load" 
				file="$(find irob_robot)/config/$(arg camera_registration_file)"/>
				
				<rosparam command="load" 
				file="$(find irob_robot)/config/$(arg instrument_info_file)"/>
				
				
			</node>
  	</group>
</launch>
