<!-- Launch file for full visual servoing -->

<launch>



    <include file="$(find irob_motion)/launch/surgeme_server.launch"/>
    <include file="$(find irob_subtask_logic)/launch/camera.launch"/>
    <include file="$(find irob_vision_support)/launch/aruco_detector_realsense.launch"/>
    <include file="$(find irob_vision_support)/launch/marker_displacement_one.launch"/>





</launch>
