<!-- Launch file for vessel cutting training excercise -->

<launch>
    <group ns="saf">



        <arg name="speed_cartesian" default="10.0"/>
        <arg name="speed_jaw" default="20.0"/>
        <arg name="marker_dist_desired" default="0.3"/>
        <arg name="marker_dist_threshold" default="0.05"/>
        <arg name="marker_xy_threshold" default="0.3"/>

        <node name="camera" pkg="irob_subtask_logic"
            type="camera" output="screen">

                <param name="speed_cartesian" type="double" value="$(arg speed_cartesian)" />
                <param name="marker_dist_desired" type="double" value="$(arg marker_dist_desired)" />
                <param name="marker_dist_threshold" type="double" value="$(arg marker_dist_threshold)" />
                <param name="marker_xy_threshold" type="double" value="$(arg marker_xy_threshold)" />

                <rosparam param="arm_names">["arm_1"]</rosparam>


        <remap from="target" to="qrkam" />
    </node>
    </group>
</launch>
