<!-- Launch file for peg-transfer training excercise -->

<launch>
	<group ns="saf">

        <arg name="board_descriptor"
        default="peg_transfer_board.yaml"/>

        <arg name="offs_x" default="-9.0"/>
        <arg name="offs_y" default="-6.0"/>
        <arg name="offs_z" default="5.0"/>

        <arg name="speed_cartesian" default="20.0"/>
        <arg name="speed_jaw" default="20.0"/>

        <node name="peg_transfer" pkg="irob_subtask_logic"
            type="peg_transfer" output="screen">

                <param name="speed_cartesian" type="double" value="$(arg speed_cartesian)" />
                <param name="speed_jaw" type="double" value="$(arg speed_jaw)" />
                <param name="offs_x" type="double" value="$(arg offs_x)" />
                <param name="offs_y" type="double" value="$(arg offs_y)" />
                <param name="offs_z" type="double" value="$(arg offs_z)" />
  		
				<rosparam param="arm_names">["arm_1"]</rosparam>
                <rosparam command="load"
                file="$(find irob_subtask_logic)/config/$(arg board_descriptor)"/>

        <remap from="target" to="vision/blocks_grasp" />
	</node>
  	</group>
</launch>
