<!-- Launch file for peg-transfer training excercise -->

<launch>
	<group ns="saf">
	
  	
			<node name="peg_transfer" pkg="irob_subtask_logic" 
            type="peg_transfer" output="screen">
  		
				<rosparam param="arm_names">["arm_1"]</rosparam>
				<!-- [w, x, y, z] -->

				<rosparam param="ori">[-0.186908015973, -0.34532493419, 0.227064046675, 0.891211546868]</rosparam>

				<rosparam param="dp">[96.8461748503,-45.8478770763, 342.055658972]</rosparam>

				<remap from="target" to="vision/target" />
	</node>
  	</group>
</launch>
