<!-- Launch file for peg-transfer training excercise -->

<launch>
	<group ns="saf">
	
  	
			<node name="peg_transfer" pkg="irob_subtask_logic" 
            type="peg_transfer" output="screen">
  		
				<rosparam param="arm_names">["arm_1"]</rosparam>

				<remap from="target" to="vision/target" />
	</node>
  	</group>
</launch>
