<!-- Launch file for left and right camera nodes using decklink blackmagick frame grabber for stereo vision -->

<launch>

	<arg name="left" default="left"/> 
	<arg name="right" default="right"/>
	
  <arg name="MODE" default="pal"/>
  <arg name="CONNECTION" default="sdi"/>
  <arg name="DEVICE_NUMBER_LEFT" default="0"/>
  <arg name="DEVICE_NUMBER_RIGHT" default="1"/>
  <arg name="PUBLISH_FRAME" default="false"/>
  <arg name="FRAME_RATE" default="25/1"/>

    <arg name="calib_file_left"
        default="camera_default_left.yaml"/>
    <arg name="calib_file_right"
        default="camera_default_right.yaml"/>
  
  <group ns="$(arg left)">
   <node name="$(arg left)" pkg="gscam" type="gscam" output="screen">
    <param name="camera_name" value="default"/>
    <param name="camera_info_url" value="file://$(find irob_sensory_support)/config/camera_info/$(arg calib_file_left)"/>
    <param name="gscam_config" value="decklinkvideosrc mode=$(arg MODE) connection=$(arg CONNECTION) device-number=$(arg DEVICE_NUMBER_LEFT) ! videorate ! video/x-raw,framerate=$(arg FRAME_RATE) ! videoconvert ! deinterlace ! videoconvert"/>
    <param name="frame_id" value="/decklink_frame_left"/>
    <!-- This needs to be set to false to avoid dropping tons of frames -->
    <param name="sync_sink" value="false"/>
        <remap from="camera/image_raw" to="image_raw"/>
  </node>
  </group>

  <group ns="$(arg right)">
     <node name="$(arg right)" pkg="gscam" type="gscam" output="screen">
    <param name="camera_name" value="default"/>
    <param name="camera_info_url" value="file://$(find irob_sensory_support)/config/camera_info/$(arg calib_file_right)"/>
    <param name="gscam_config" value="decklinkvideosrc mode=$(arg MODE) connection=$(arg CONNECTION) device-number=$(arg DEVICE_NUMBER_RIGHT) ! videorate ! video/x-raw,framerate=$(arg FRAME_RATE) ! videoconvert ! deinterlace ! videoconvert"/>
    <param name="frame_id" value="/decklink_frame_right"/>
    <!-- This needs to be set to false to avoid dropping tons of frames -->
    <param name="sync_sink" value="false"/>
                <remap from="camera/image_raw" to="image_raw"/>
  </node>
  </group>
  


</launch>
