<!-- Launch file for left and right camera nodes using cv-camera for stereo vision-->

<launch>

	<arg name="left" default="left"/> 
	<arg name="right" default="right"/>
	<arg name="device_id_left" default="1"/>
	<arg name="device_id_right" default="2"/> 
	<arg name="calib_file_left"
		default="camera_default_left.yaml"/>
	<arg name="calib_file_right"
		default="camera_default_right.yaml"/>
	
	<node name="left" pkg="cv_camera" 
			type="cv_camera_node" output="screen">
  		
		<rosparam param="device_id" subst_value="true">$(arg device_id_left)</rosparam>
		<rosparam param="camera_info_url" subst_value="true">file://$(find irob_sensory_support)/config/camera_info/$(arg calib_file_left)</rosparam>
		<remap from="left/image" to="$(arg left)/image"/>
		<remap from="left/camera_info" to="$(arg left)/camera_info"/>
		
	</node>
				
	<node name="right" pkg="cv_camera" 
			type="cv_camera_node" output="screen">
  		
		<rosparam param="device_id" subst_value="true">$(arg device_id_right)</rosparam>
		<rosparam param="camera_info_url" subst_value="true">file://$(find irob_sensory_support)/config/camera_info/$(arg calib_file_right)</rosparam>
		<remap from="right/image" to="$(arg right)/image"/>
		<remap from="right/camera_info" to="$(arg right)/camera_info"/>
	</node>

</launch>
