<!--	Launch file for left and right camera nodes using cv-camera.

		* The initiated ROS image pipeline will be like something like:

				camera driver

					|	/saf/stereo
					V

				stereo_img_proc



See the command for camera calibration in the README. Always give the calibration file name in the argument.

-->

<launch>
	<group ns="saf"><group ns="stereo">

<!-- Set args-->

		<arg name="device_id_left" default="1"/>
		<arg name="device_id_right" default="2"/>
		<arg name="calib_file_left" default="camera_usb_left.yaml"/>
		<arg name="calib_file_right" default="camera_usb_right.yaml"/>
		<arg name="command_preprocessor" default="avg_adjacent"/>

<!-- Start USB stereo cam pair -->
		<include
			file="$(find irob_sensory_support)/launch/camera/usb_cam_pair_driver.launch"
			pass_all_args="false">

			<arg name="left" value="left" />
			<arg name="right" value="right" />
			<arg name="device_id_left" value="$(arg device_id_left)"/>
			<arg name="device_id_right" value="$(arg device_id_right)"/>
			<arg name="calib_file_left" value="$(arg calib_file_left)"/>
			<arg name="calib_file_right" value="$(arg calib_file_right)"/>
		</include>



<!-- Rectification and disparity calculation -->

		<include
			file="$(find irob_sensory_support)/launch/camera/stereo_img_proc.launch"
			pass_all_args="false">

			<arg name="left" value="left" />
			<arg name="right" value="right" />
		</include>

	</group></group>
</launch>
