<!-- Launch file to move on a preprogrammed trajectory -->

<launch>
	<group ns="ias">
	
	<arg name="rate" default="10" />
	<arg name="amplitude" default="0.02" />
	<arg name="T" default="5.0" />
	
	<arg name="frame_id" default="PSM1_psm_base_link"/>
  	
	<node name="dummy_target_publisher" pkg="irob_vision_support" 
			type="dummy_target_publisher" output="screen" >
  		
				<param name="rate" type="double" value="$(arg rate)" />
				<param name="amplitude" type="double" value="$(arg amplitude)" />
				<param name="T" type="double" value="$(arg T)" />
				<param name="frame_id" type="string" value="$(arg frame_id)" />
				
				<rosparam param="centrum">[0.0, 0.0, -0.12]</rosparam>
					
				<remap from="dummy_target_marker" to="vision/dummy_target_marker" />
				
	</node>
  	</group>
</launch>
