<!-- Launch file for left and right camera nodes using cv-camera -->

<launch>
	<group ns="ias"><group ns="stereo">
		
		
		<!-- Start USB stereo cam pair -->
		<include 
			file="$(find irob_autosurg)/launch/camera/usb_cam_pair_driver.launch"
			pass_all_args="true">
			
			<arg name="left" value="left" />
			<arg name="right" value="right" />
		</include> 
		
			
		<!-- Rotate images and camera_info -->
		<include 
		file="$(find irob_autosurg)/launch/camera/rotate_cam.launch">
			
			<arg name="angle" value="-90"/> 
			<arg name="camera" value="left"/> 
			<!-- Use separate calibration files for the cameras -->
			<arg name="calibration" 
			value="file://$(find irob_autosurg)/config/camera_info/camera_logitech_left.yaml"/> 
				
		</include> 	
		
		<include 
		file="$(find irob_autosurg)/launch/camera/rotate_cam.launch">
			
			<arg name="angle" value="90"/> 
			<arg name="camera" value="right"/> 
			<!-- Use separate calibration files for the cameras -->
			<arg name="calibration" 
			value="file://$(find irob_autosurg)/config/camera_info/camera_logitech_right.yaml"/> 
			
		</include> 	
		
		
		<!-- Rectification and disparity calculation -->
		<include 
			file="$(find irob_autosurg)/launch/camera/stereo_img_proc.launch"
			pass_all_args="true">
			
			<arg name="left" value="left/rotated" />
			<arg name="right" value="right/rotated" />
		</include>					
		
  	</group>
  	</group>
</launch>
