<!-- Launch file to detect aruco markers in stereo camera stream -->

<launch>
    <group ns="saf">

    <node name="aruco_detector_left" pkg="irob_vision_support"
            type="aruco_detector_plain_msg.py" output="screen" >

                <remap from="image_input" to="stereo/left/image_rect_color" />
                <remap from="image_markers" to="vision/left/image_markers" />
                <remap from="markers" to="vision/left/markers" />
    </node>

    <node name="aruco_detector_right" pkg="irob_vision_support"
        type="aruco_detector_plain_msg.py" output="screen" >

            <remap from="image_input" to="stereo/right/image_rect_color" />
            <remap from="image_markers" to="vision/right/image_markers" />
            <remap from="markers" to="vision/right/markers" />
    </node>

    </group>
</launch>

