<!-- Launch file for left and right camera nodes using cv-camera -->

<launch>
	<group ns="ias"><group ns="stereo">
	
		<!-- Republish raw -->
		<include 
			file="$(find irob_vision_support)/launch/camera/republish_stereo_raw.launch">
			<arg name="left_in" 
					value="/ias/stereo/left/raspicam/image"/> 
			<arg name="right_in" 
					value="/ias/stereo/right/raspicam/image"/> 
		
			<arg name="left_out" 
					value="/ias/stereo/left/raspicam/image/image_raw"/> 
			<arg name="right_out" 
					value="/ias/stereo/right/raspicam/image/image_raw"/> 
		</include> 
		
		<!-- TODO set up topics -->
		
		<!-- Start USB stereo cam pair -->
		<include 
			file="$(find irob_vision_support)/launch/camera/usb_cam_pair_driver.launch"
			pass_all_args="true">
			
			<arg name="left" value="left" />
			<arg name="right" value="right" />
		</include> 
		
			
		<!-- Rotate images and camera_info -->
		<include 
		file="$(find irob_vision_support)/launch/camera/rotate_cam.launch">
			
			<arg name="angle" value="-90"/> 
			<arg name="camera" value="left"/> 
			<!-- Use separate calibration files for the cameras -->
			<arg name="calibration" 
			value="file://$(find irob_vision_support)/config/camera_info/camera_logitech_left.yaml"/> 
				
		</include> 	
		
		<include 
		file="$(find irob_vision_support)/launch/camera/rotate_cam.launch">
			
			<arg name="angle" value="90"/> 
			<arg name="camera" value="right"/> 
			<!-- Use separate calibration files for the cameras -->
			<arg name="calibration" 
			value="file://$(find irob_vision_support)/config/camera_info/camera_logitech_right.yaml"/> 
			
		</include> 	
		
		
		<!-- Rectification and disparity calculation -->
		<include 
			file="$(find irob_vision_support)/launch/camera/stereo_img_proc.launch"
			pass_all_args="true">
			
			<arg name="left" value="left/rotated" />
			<arg name="right" value="right/rotated" />
		</include>	
		
		
		<!--
		<include 
			file="$(find irob_autosurg)/launch/camera/republish_stereo_raw.launch">
			<arg name="left_in" 
					value="/ias/stereo/left/raspicam/image"/> 
			<arg name="right_in" 
					value="/ias/stereo/right/raspicam/image"/> 
		
			<arg name="left_out" 
					value="/ias/stereo/left/raspicam/image/image_raw"/> 
			<arg name="right_out" 
					value="/ias/stereo/right/raspicam/image/image_raw"/> 
		</include> 
		
		<include 
			file="$(find irob_autosurg)/launch/camera/rotate_stereo_imgs.launch">
			
			<arg name="left_angle" value="-90"/> 
			<arg name="left_in" value="left/raspicam/image/image_raw" />
			<arg name="right_in" value="right/raspicam/image/image_raw" />
			
			<arg name="right_angle" value="90"/> 
			<arg name="left_out" value="left/final/image" />
			<arg name="right_out" value="right/final/image" />
		</include> 
		
		<include 
			file="$(find irob_autosurg)/launch/camera/sync_stereo_imgs.launch">
			
			<arg name="left_in" value="left/final/image"/> 
			<arg name="right_in" value="right/final/image"/> 

			<arg name="left_out" value="left/synced/image"/> 
			<arg name="right_out" value="right/synced/image"/> 
		</include> 
		-->				
		
  	</group>
  	</group>
</launch>
