<!-- Launch file to move on a preprogrammed trajectory -->

<launch>

  	<arg name="arm" default="PSM2"/>
  	<arg name="rate" default="100"/>
  	<arg name="speed" default="1"/>
  	<arg name="regfile" 
  		default="/home/dvrk_nat/catkin_ws/src/irob-dvrk-automation/matlab/registration.cfg"/>

  
	<node name="auto_dissection"
  		pkg="irob-dvrk-automation" type="auto_dissection" output="screen">
  		
  		<param name="arm" type="string" value="$(arg arm)" />
  		<param name="rate" type="double" value="$(arg rate)" />
  		<param name="speed" type="double" value="$(arg speed)" />
  		<param name="regfile" type="string" value="$(arg regfile)" />

	</node>
  	
</launch>
