<!-- Launch file for left and right camera nodes using cv-camera, also rotates the camera streams -->

<launch>
	<group ns="ias"><group ns="stereo">
		
	<node name="cameracalibrator" pkg="camera_calibration" 
			type="cameracalibrator.py" 
			args="--size 9x7 --square 0.025 --approximate=0.01 --no-service-check" 
			output="screen">
  		
  		<rosparam param="left">left/synced/image</rosparam>
		<rosparam param="right">right/synced/image</rosparam>
		<rosparam param="left_camera">left/raspicam/image</rosparam>
		<rosparam param="right_camera">right/raspicam/image</rosparam>
		
	</node>						
		
  	</group>
  	</group>
</launch>
