<!-- Launch file to move on a preprogrammed trajectory -->

<launch>

  <arg name="arm" default="PSM1"/>
  <arg name="init_needed" default="no_init_pos"/>
  <arg name="rate" default="10"/>
  <arg name="speed" default="1"/>
  
  <node name="dvrk_move_test"
  	pkg="irob-dvrk-automation" type="dvrk_move_test" output="screen" 
  	args="$(arg arm) $(arg init_needed) $(arg rate) $(arg speed)"/>
  	
</launch>
