<!-- Launch file for left and right camera nodes using cv-camera, also rotates the camera streams -->

<launch>
	<group ns="ias"><group ns="stereo">
		
		<include 
			file="$(find irob_autosurg)/launch/camera/rotate_imgs.launch">
			
			<arg name="left_in" value="raspicam_left/image/compressed" />
			<arg name="right_in" value="raspicam_right/image/compressed" />
			
			<arg name="left_out" value="left_final/image" />
			<arg name="right_out" value="right_final/image" />
		</include> 
		
  	</group>
  	</group>
</launch>
