<!-- Launch file for left and right camera nodes using cv-camera -->

<launch>
	<group ns="ias"><group ns="stereo">
	
		<include 
			file="$(find irob_autosurg)/launch/camera/cam_pair_driver.launch"
			pass_all_args="true">
			
			<arg name="left" value="left" />
			<arg name="right" value="right" />
		</include> 
			
		
		<include 
			file="$(find irob_autosurg)/launch/camera/stereo_img_proc.launch"
			pass_all_args="true">
			
			<arg name="left" value="left" />
			<arg name="right" value="right" />
		</include> 						
		
  	</group>
  	</group>
</launch>
