<!-- Launch file for left and right camera nodes using cv-camera -->

<launch>
	<group ns="ias"><group ns="stereo">
	
		<!--<include 
			file="$(find irob_autosurg)/launch/camera/republish_stereo_raw.launch">
			<arg name="left_in" 
					value="/ias/stereo/left/raspicam/image"/> 
			<arg name="right_in" 
					value="/ias/stereo/right/raspicam/image"/> 
		
			<arg name="left_out" 
					value="/ias/stereo/left/raspicam/image/image_raw"/> 
			<arg name="right_out" 
					value="/ias/stereo/right/raspicam/image/image_raw"/> 
		</include> -->
			
		
		<include 
		file="$(find irob_autosurg)/launch/camera/rotate_stereo_img_info.launch">
			
			<arg name="angle" value="-90"/> 
			<arg name="camera" value="left"/> 
			<arg name="calibration" value="file:///home/tamas/.ros/camera_info/camera_logitech_left.yaml"/> 
				
			
		</include> 	
		
		<include 
		file="$(find irob_autosurg)/launch/camera/rotate_stereo_img_info.launch">
			
			<arg name="angle" value="90"/> 
			<arg name="camera" value="right"/> 
			<arg name="calibration" value="file:///home/tamas/.ros/camera_info/camera_logitech_right.yaml"/> 
			
		</include> 	
		
		<include 
			file="$(find irob_autosurg)/launch/camera/stereo_img_proc.launch"
			pass_all_args="true">
			
			<arg name="left" value="left/rotated" />
			<arg name="right" value="right/rotated" />
		</include>					
		
  	</group>
  	</group>
</launch>
