<!-- Launch file-->

<launch>

		<arg name="left_in" default="/ias/stereo/raspicam_left/image"/> 
		<arg name="right_in" default="/ias/stereo/raspicam_right/image"/> 
		
		<arg name="left_out" default="/ias/stereo/raspicam_left/image_raw"/> 
		<arg name="right_out" default="/ias/stereo/raspicam_right/image_raw"/> 
	
	
		<node name="image_republish_left" pkg="image_transport" 
			type="republish" output="screen" 
			args="compressed in:=$(arg left_in) raw out:=$(arg left_out)">
  		
		</node>
		
		<node name="image_republish_right" pkg="image_transport" 
			type="republish" output="screen" 
			args="compressed in:=$(arg right_in) raw out:=$(arg right_out)">
  		
		</node>

  		
</launch>
