<!-- Launch file for stereo image processing, calculates
	 rectified images and disparity map
-->

<launch>	

	<arg name="left" default="left"/>
	<arg name="right" default="right"/>


	<node name="stereo_image_proc" pkg="stereo_image_proc" 
				type="stereo_image_proc" output="screen">
				
			 <rosparam param="approximate_sync">true</rosparam>
			 	
			 <rosparam param="stereo_algorithm">0</rosparam>
			 <!-- No point cloud calculated in case of stereo_algorithm=1 -->
			 	
			 	
			 <rosparam param="min_disparity">-96</rosparam>
			 	
			 <rosparam param="disparity_range">128</rosparam>
			 	
			 <rosparam param="correlation_window_size">17</rosparam>
			 	
			 <rosparam param="uniqueness_ratio">0</rosparam>
			 <rosparam param="texture_threshold">5</rosparam>
			 	
			 <rosparam param="speckle_size">500</rosparam>
			 <rosparam param="speckle_range">4</rosparam>
			 	
			 <rosparam param="prefilter_cap ">15</rosparam>
			 <rosparam param="prefilter_size ">5</rosparam>
  		
			<remap from="left/image" to="$(arg left)/image_raw"/>
  			<remap from="left/camera_info" to="$(arg left)/camera_info"/>
  			
			<remap from="right/image" to="$(arg right)/image_raw"/>
  			<remap from="right/camera_info" to="$(arg right)/camera_info"/>
					
	</node>

</launch>
